.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(var(--bg-main));
    font-family: 'League Spartan', sans-serif;
    color: hsl(var(--text-light));
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main";
    margin: 0 auto;
    max-width: 542px;
}

.theme {
    display: grid;
    grid-template-columns: 392px 77px 73px;
    grid-template-rows: 1fr;
    grid-template-areas: "calc theme options";
}

.theme h2 {
    grid-area: calc;
    padding: 10px;
}
.theme p {
    grid-area: theme;
    padding: 10px;
    font-size: .9rem;
    font-weight: bold;
    line-height: 36px;
}
.theme-options {
    grid-area: options;
    display: grid;
    grid-template-areas: "n1 n2 n3"
                         "themeBG themeBG themeBG"; 
}
.theme-n1 {grid-area: n1;}
.theme-n2 {grid-area: n2;}
.theme-n3 {grid-area: n3;}

.theme-n1,
.theme-n2,
.theme-n3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.theme-bg {
    cursor: pointer;
    grid-area: themeBG;
    height: 25px;
    border-radius: 25px;
    background: hsl(var(--bg-toggle));
}
.theme-bg::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsl(var(--key-accent-pri));
    position: relative;
    top: 5px;
    left: 5px;
    transition: all .3s ease-in-out;
}

.cal {
    display: grid;
    grid-template-areas: "screen"
                         "keys";
    grid-gap: 1em;
    margin-top: 1em;
}

.cal-output {
    grid-area: screen;
    background: hsl(var(--bg-screen));
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    color: hsl(var(--text-light));
    height: 128px;
}

.cal-btns {
    grid-area: keys;
    display: grid;
    grid-template-areas: "seven eight nine del"
                         "four five six plus"
                         "one two three min"
                         "dott zeroo vide multi"
                         "reset reset equals equals";
    grid-gap: 23px;
    padding: 23px;
    border-radius: 10px;
    background: hsl(var(--bg-toggle));
}
#cal-num-0 {grid-area: zeroo;}
#cal-num-1 {grid-area: one;}
#cal-num-2 {grid-area: two;}
#cal-num-3 {grid-area: three;}
#cal-num-4 {grid-area: four;}
#cal-num-5 {grid-area: five;}
#cal-num-6 {grid-area: six;}
#cal-num-7 {grid-area: seven;}
#cal-num-8 {grid-area: eight;}
#cal-num-9 {grid-area: nine;}
#cal-num-dot {grid-area: dott;}
#cal-op-plus {grid-area: plus;}
#cal-op-minus {grid-area: min;}
#cal-op-multiply {grid-area: multi;}
#cal-op-divide {grid-area: vide;}
#cal-op-reset {grid-area: reset;}
#cal-op-equals {grid-area: equals;}
#cal-op-del {grid-area: del;}

.cal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: hsl(var(--text-light));
    background: hsl(var(--key-bg));
    border-radius: 5px;
    box-shadow: 0 5px hsl(var(--key-shadow));
    transition: all .3s ease-in-out;
    height: 61px;
}
#cal-op-del, 
#cal-op-reset {
    background: hsl(var(--key-accent-sec));
    box-shadow: 0 5px hsl(var(--key-accent-shadow-sec));
}
#cal-op-equals {
    background: hsl(var(--key-accent-pri));
    box-shadow: 0 5px hsl(var(--key-accent-shadow-pri));
}