

body {
    background-color: hsl(var(--bg-main));
    font-family: 'League Spartan', sans-serif;
    color: hsl(var(--text-light));
    padding: 1em;
}
body.theme2 {
    color: hsl(var(--text-dark));
}
body.theme3 {
    color: hsl(var(--text-accent));
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main";
    margin: 0 auto;
    max-width: 542px;
}

.theme {
    position: relative;
    display: flex;
}
    
.theme h2 {
    flex: 1;
    padding: 10px;
}
.theme p {
    padding: 10px;
    font-size: .9rem;
    font-weight: bold;
    line-height: 36px;
}
.theme-options {
    width: 73px;
    display: grid;
    grid-template-areas: "n1 n2 n3"
                         "themeBG themeBG themeBG"; 
}
.theme-n1 {grid-area: n1;}
.theme-n2 {grid-area: n2;}
.theme-n3 {grid-area: n3;}

.theme-n1,
.theme-n2,
.theme-n3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.theme-bg {
    cursor: pointer;
    grid-area: themeBG;
    height: 25px;
    border-radius: 25px;
    background: hsl(var(--bg-toggle));
    display: grid;
    grid-template-areas: "theme1 theme2 theme3";
}
.theme-dark {grid-area: theme1;}
.theme-light {grid-area: theme2;}
.theme-purple {grid-area: theme3;}

.theme .theme1::before,
.theme .theme2::before,
.theme .theme3::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsl(var(--key-accent-pri));
    position: absolute;
    bottom: 11px;
    transition: all .3s ease-in-out;
}
.theme .theme1::before {right: 53px;}
.theme .theme2::before {right: 29px;}
.theme .theme3::before {right: 5px;}

.theme-dark,
.theme-light,
.theme-purple {
    cursor: pointer;
}
.theme a:hover {
    background: pink;
}

.cal {
    display: grid;
    grid-template-areas: "screen"
                         "keys";
    grid-gap: 1em;
    margin-top: 1em;
}

.cal-output {
    grid-area: screen;
    background: hsl(var(--bg-screen));
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    color: hsl(var(--text-light));
    height: 128px;
}
body.theme2 .cal-output {
    color: hsl(var(--text-dark));
}
body.theme3 .cal-output {
    color: hsl(var(--text-accent));
}
.cal-btns {
    grid-area: keys;
    display: grid;
    grid-template-areas: "seven eight nine del"
                         "four five six plus"
                         "one two three min"
                         "dott zeroo vide multi"
                         "reset reset equals equals";
    grid-gap: 1.5em;
    padding: 1.2em;
    border-radius: 10px;
    background: hsl(var(--bg-toggle));
}
@media (max-width: 542px) {
    .cal-btns {
        grid-gap: .9em;
    }
}
#cal-num-0 {grid-area: zeroo;}
#cal-num-1 {grid-area: one;}
#cal-num-2 {grid-area: two;}
#cal-num-3 {grid-area: three;}
#cal-num-4 {grid-area: four;}
#cal-num-5 {grid-area: five;}
#cal-num-6 {grid-area: six;}
#cal-num-7 {grid-area: seven;}
#cal-num-8 {grid-area: eight;}
#cal-num-9 {grid-area: nine;}
#cal-num-dot {grid-area: dott;}
#cal-op-plus {grid-area: plus;}
#cal-op-minus {grid-area: min;}
#cal-op-multiply {grid-area: multi;}
#cal-op-divide {grid-area: vide;}
#cal-op-reset {grid-area: reset;}
#cal-op-equals {grid-area: equals;}
#cal-op-del {grid-area: del;}

.cal-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: hsl(var(--text-dark));
    background: hsl(var(--key-accent-sec));
    border-radius: 5px;
    box-shadow: 0 5px hsl(var(--key-accent-shadow-sec));
    transition: all .3s ease-in-out;
    height: 61px;
}
body.theme3 .cal-btn {
    color: hsl(var(--text-accent));
}
#cal-op-del, 
#cal-op-reset {
    background: hsl(var(--key-bg));
    box-shadow: 0 5px hsl(var(--key-shadow));
    color: hsl(var(--text-light));
}

#cal-op-equals {
    background: hsl(var(--key-accent-pri));
    box-shadow: 0 5px hsl(var(--key-accent-shadow-pri));
    color: hsl(var(--text-light));
}
body.theme3 #cal-op-equals {
    color: hsl(var(--text-dark));
}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .attribution {
    font-size: 11px;
    text-align: center;
    width: 100vw;
}

footer .attribution a { color: hsl(var(--key-accent-pri)); }